---
layout: default
title: Blog
description: "Personal blog by Yana Veitsman on mostly very subjective non-scientific and sometimes scientific topics."
permalink: /blog/
---

<ul class="blog-list">
  {% for post in site.posts %}
    {% if post.categories contains "blog" %}
      <li>
        <h3 class="post-title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        <p class="post-meta muted">{{ post.date | date: "%B %-d, %Y" }}</p>
        {% if post.excerpt %}
          <p class="post-excerpt">
            {{ post.excerpt | markdownify | strip_html | truncatewords: 45 }}
            <a href="{{ post.url | relative_url }}">Read here.</a>
          </p>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
