<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:description" content="Research Assistant working with Dr. Michael Hahn and Dr. Vera Demberg, Saarland University. I am interested in making multilingual models more interpretable.">
  <meta name="description" content="Research Assistant working with Dr. Michael Hahn and Dr. Vera Demberg, Saarland University. I am interested in making multilingual models more interpretable.">
  <meta property="og:locale" content="en">
  <meta property="og:title" content="Yana Veitsman">
  <meta property="og:site_name" content="Yana Veitsman">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@yveitsman">
  <meta property="twitter:title" content="Yana Veitsman">
  </head>
  <body>
    {% include header.html %}
    <main class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const btn = document.querySelector('.menu-toggle');
      const nav = document.querySelector('.site-nav');
  
      btn.addEventListener('click', function() {
        const expanded = this.getAttribute('aria-expanded') === 'true';
        this.setAttribute('aria-expanded', String(!expanded));
        nav.classList.toggle('open');
      });
    });
  </script>
  
</html>