---
layout: default
---

<article class="post-wrapper">

  <p class="post-back-link">
    {% if page.categories contains "blog" %}
      <a href="{{ '/blog/' | relative_url }}">Back to Blog</a>
    {% else %}
      <a href="{{ '/news/' | relative_url }}">Back to News</a>
    {% endif %}
  </p>

  <h1 class="post-title">{{ page.title }}</h1>

  <time datetime="{{ page.date | date_to_xmlschema }}">
    {{ page.date | date: "%B %-d, %Y" }}
  </time>

  <div class="post-content">
    {{ content }}
  </div>

</article>
